<div class="schedule">
    <div class="row">
        {{#if isTeacher}}
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#showSchedules">Show schedules</a></li>
                <li class="tab col s6"><a href="#createSchedule">Add new schedule</a></li>
            </ul>
        </div>
        {{/if}}

        <div id="showSchedules" class="col s6 offset-s3">
            {{#if schedules.length}}
            <div class="collection">
                {{#each schedules}}
                <div style="display: flex; justify-content: space-between;">

                    <a href="/schedules/{{_id}}" class="collection-item" style="width: 100%;">
                        {{group}}
                    </a>

                    {{#if @root.isTeacher}}
                    <form action="/schedule/delete" method="post">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn waves-effect waves-light" style="height: 100%;">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </form>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            {{else}}
            <p>No schedules available!</p>
            {{/if}}
        </div>

        {{#if isTeacher}}
        <div id="createSchedule" class="col s6 offset-s3">
            <form action="/schedule/create" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                            <th>
                                <div id="div"></div>
                                <input type="button" id="button" value="Создать">
                                <script>
                                    var count = 1
                                    button.addEventListener("click", function () {
                                        var input = document.createElement('INPUT')
                                        input.type = 'text'
                                        input.setAttribute("data-id", "subject" + count)
                                        input.name = "monday_course[]"
                                        document.querySelector('#div').appendChild(input)
                                        var input2 = document.createElement('INPUT')
                                        input2.type = 'text'
                                        input2.setAttribute("data-id", "teacher" + count)
                                        input2.name = "monday_teacher[]"
                                        document.querySelector('#div').appendChild(input2)
                                        var input3 = document.createElement('INPUT')
                                        input3.type = 'text'
                                        input3.setAttribute("data-id", "classroom" + count)
                                        input3.name = "monday_classroom[]"
                                        document.querySelector('#div').appendChild(input3)
                                        count++
                                    })
                                </script>
                            </th>
                        </tr>
                        </tr>
                        <td>Tuesday</td>
                        <th>
                            <div id="div2"></div>
                            <input type="button" id="button2" value="Создать">
                            <script>
                                var count = 1
                                button2.addEventListener("click", function () {
                                    var input = document.createElement('INPUT')
                                    input.type = 'text'
                                    input.setAttribute("data-id", "subject" + count)
                                    input.name = "tuesday_course[]"
                                    document.querySelector('#div2').appendChild(input)
                                    var input2 = document.createElement('INPUT')
                                    input2.type = 'text'
                                    input2.setAttribute("data-id", "teacher" + count)
                                    input2.name = "tuesday_teacher[]"
                                    document.querySelector('#div2').appendChild(input2)
                                    var input3 = document.createElement('INPUT')
                                    input3.type = 'text'
                                    input3.setAttribute("data-id", "classroom" + count)
                                    input3.name = "tuesday_classroom[]"
                                    document.querySelector('#div2').appendChild(input3)
                                    count++
                                })
                            </script>
                        </th>
                        </tr>
                        </tr>
                        <td>Wednesday</td>
                        <th>
                            <div id="div3"></div>
                            <input type="button" id="button3" value="Создать">
                            <script>
                                var count = 1
                                button3.addEventListener("click", function () {
                                    var input = document.createElement('INPUT')
                                    input.type = 'text'
                                    input.setAttribute("data-id", "subject" + count)
                                    input.name = "wednesday_course[]"
                                    document.querySelector('#div3').appendChild(input)
                                    var input2 = document.createElement('INPUT')
                                    input2.type = 'text'
                                    input2.setAttribute("data-id", "teacher" + count)
                                    input2.name = "wednesday_teacher[]"
                                    document.querySelector('#div3').appendChild(input2)
                                    var input3 = document.createElement('INPUT')
                                    input3.type = 'text'
                                    input3.setAttribute("data-id", "classroom" + count)
                                    input3.name = "wednesday_classroom[]"
                                    document.querySelector('#div3').appendChild(input3)
                                    count++
                                })
                            </script>
                        </th>
                        </tr>
                        </tr>
                        <td>Thursday</td>
                        <th>
                            <div id="div4"></div>
                            <input type="button" id="button4" value="Создать">
                            <script>
                                var count = 1
                                button4.addEventListener("click", function () {
                                    var input = document.createElement('INPUT')
                                    input.type = 'text'
                                    input.setAttribute("data-id", "subject" + count)
                                    input.name = "thursday_course[]"
                                    document.querySelector('#div4').appendChild(input)
                                    var input2 = document.createElement('INPUT')
                                    input2.type = 'text'
                                    input2.setAttribute("data-id", "teacher" + count)
                                    input2.name = "thursday_teacher[]"
                                    document.querySelector('#div4').appendChild(input2)
                                    var input3 = document.createElement('INPUT')
                                    input3.type = 'text'
                                    input3.setAttribute("data-id", "classroom" + count)
                                    input3.name = "thursday_classroom[]"
                                    document.querySelector('#div4').appendChild(input3)
                                    count++
                                })
                            </script>
                        </th>
                        </tr>
                        </tr>
                        <td>Friday</td>
                        <th>
                            <div id="div5"></div>
                            <input type="button" id="button5" value="Создать">
                            <script>
                                var count = 1
                                button5.addEventListener("click", function () {
                                    var input = document.createElement('INPUT')
                                    input.type = 'text'
                                    input.setAttribute("data-id", "subject" + count)
                                    input.name = "friday_course[]"
                                    document.querySelector('#div5').appendChild(input)
                                    var input2 = document.createElement('INPUT')
                                    input2.type = 'text'
                                    input2.setAttribute("data-id", "teacher" + count)
                                    input2.name = "friday_teacher[]"
                                    document.querySelector('#div5').appendChild(input2)
                                    var input3 = document.createElement('INPUT')
                                    input3.type = 'text'
                                    input3.setAttribute("data-id", "classroom" + count)
                                    input3.name = "friday_classroom[]"
                                    document.querySelector('#div5').appendChild(input3)
                                    count++
                                })
                            </script>
                        </th>
                        </tr>
                    </tbody>
                </table>
                {{#if error_messages }}
                <div class="red-text text-darken-2">{{error_messages}}</div>
                {{/if}}
                <div style="width: 100%; display: flex;">
                    <button type="submit" class="btn btn-primary">REGISTER NEW SCHEDULE</button>
                    <div class="input-field col s6">
                        <select name="group" style="display: block;">
                            <option value="" disabled selected>Choose group</option>
                            {{#if groups.length}}
                            {{#each groups}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                            {{/if}}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
</div>

<script>
    M.Tabs.init(document.querySelectorAll('.tabs'))
</script>